doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title} - D-Galery

        <link rel="icon" href="https://res.cloudinary.com/danielhdz/image/upload/v1660543641/D-Galery/user_ngfadw.png">

        link(rel="stylesheet", href="/css/main.css")
        
        //- Auth
        link(rel="stylesheet", href="/css/auth.css")
        link(rel="stylesheet", href="/css/auth-992.css", media="screen and (min-width: 992px)")
        
        //- Gallery
        link(rel="stylesheet", href="/css/gallery.css")

        //- Fontawesome
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous")

        //- Google Fonts
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet")
        <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">