:root{
    --dark-gray: #333;
    --gray: #666;
    --main-color: #EC9E42;
    --white: #FFF;
    --quicksand: 'Quicksand', sans-serif;
    --varela: 'Varela Round', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html{
    font-size: 62.5%;
}

img{
    width: 100%;
}

li{
    list-style: none;
}

.btn{
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.notification{
    max-width: 300px;
    margin: 0 auto;
    padding: 4px;
    border: 1px solid var(--main-color);
    border-radius: 32px;
    position: fixed;
    bottom: 32px;
    right: 0;
    left: 0;
    *background-color: var(--white);
    background-color: var(--main-color);
    text-align: center;
    font-size: 1.6rem;
    *font-weight: bold;
    *color: var(--main-color);
    color: var(--white);
    z-index: 99;
    transition: all 0.3s ease;
    transform: translateY(64px);
}

.notification-show{
    transform: translateY(0px);
}